<!-- <h1 class="cover-heading">Expand IP Subnet Masks</h1> -->

<div class="row">
    <div class="col-sm-4">
        <h4><label for="subnetmasks">IP Subnet Masks</label></h4>
        <textarea id="subnetmasks" rows="8" cols="17" ng-model="vm.subnetmasks">
23.96.0.0/18
23.96.64.0/28
        </textarea>
        <p>One IP per line</p>

        <a href="#" class="btn btn-lg btn-default" ng-click="vm.calculate()">Calculate</a>
    </div>
    <div class="col-sm-8">
        <div class="row" ng-show="vm.ranges && vm.ranges.length > 0">
            <h4><label>Download Results</label></h4>
            <p>{{window.navigator.userAgent}}</p>
            <a href="#" class="btn btn-lg btn-default" ng-click="vm.downloadIPRanges()">Ranges</a>
            <a href="#" class="btn btn-lg btn-default" ng-click="vm.downloadExpandedIPRanges()">Expanded Ranges</a>
        </div>
        <div class="row" ng-show="vm.ranges && vm.ranges.length > 0">
            <h4><label>Results</label></h4>
        </div>
        <div class="row" ng-show="vm.ranges && vm.ranges.length > 0">
            <div class="col-sm-4">IP Subnet Mask</div>
            <div class="col-sm-4">From</div>
            <div class="col-sm-4">To</div>
        </div>
        <div class="row" ng-repeat="range in vm.ranges" ng-show="vm.ranges && vm.ranges.length > 0">
            <div class="col-sm-4">{{range.split(',')[0]}}</div>
            <div class="col-sm-4">{{range.split(',')[1]}}</div>
            <div class="col-sm-4">{{range.split(',')[2]}}</div>
        </div>
    </div>
</div>
