/* line 81, c:\prj\IPSubnetMaskExpander\app\bower_components\bootstrap\less\scaffolding.less */
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
/* line 309, c:\prj\IPSubnetMaskExpander\app\bower_components\bootstrap\less\forms.less */
.form-horizontal .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
/* line 313, c:\prj\IPSubnetMaskExpander\app\bower_components\bootstrap\less\forms.less */
.form-horizontal .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
/* line 124, c:\prj\IPSubnetMaskExpander\app\bower_components\bootstrap\less\buttons.less */
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
/* line 128, c:\prj\IPSubnetMaskExpander\app\bower_components\bootstrap\less\buttons.less */
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
/* line 132, c:\prj\IPSubnetMaskExpander\app\bower_components\bootstrap\less\buttons.less */
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
/* line 14, c:\prj\IPSubnetMaskExpander\app\bower_components\bootstrap\less\mixins\clearfix.less */
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
/* line 19, c:\prj\IPSubnetMaskExpander\app\bower_components\bootstrap\less\mixins\clearfix.less */
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
/* line 7, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
html,
body {
  height: 100%;
  background-color: #333;
}
/* line 12, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
body {
  color: #fff;
  text-align: center;
}
/* line 19, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
body {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 30, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
.mastfoot {
  color: #999;
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
}
@media (min-width: 768px) {
  /* line 43, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* line 47, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* line 52, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* line 56, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}
/* line 75, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
.navbar-default {
  background-color: #333333;
  border-color: #676767;
}
/* line 78, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
.navbar-default .navbar-brand {
  color: #eeeeee;
}
/* line 80, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
/* line 82, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
.navbar-default .navbar-text {
  color: #eeeeee;
}
/* line 86, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
.navbar-default .navbar-nav > li > a {
  color: #eeeeee;
}
/* line 88, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
/* line 91, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #676767;
}
/* line 99, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #676767;
}
/* line 102, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
.navbar-default .navbar-toggle {
  border-color: #676767;
}
/* line 104, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #676767;
}
/* line 106, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #eeeeee;
}
/* line 108, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #eeeeee;
}
/* line 111, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
.navbar-default .navbar-link {
  color: #eeeeee;
}
/* line 113, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}
@media (max-width: 767px) {
  /* line 117, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #eeeeee;
  }
  /* line 119, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  /* line 122, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #676767;
  }
}
/* line 128, c:\prj\IPSubnetMaskExpander\app\styles\main.less */
textarea {
  color: #000;
}
